body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.add-song-form {
  margin: 20px;
}

.add-song-form input[type=submit] {
  margin-top: 15px;
}

.add-song-form p {
  margin: 0;
}

.remove-song {
  color: red;
}

.update-song {
  color: blue;
  display: inline-block;
}

.remove-song:hover, .update-song label:hover {
  cursor: pointer;
}

.update-song-container {
  display: none;
  min-height: 100px;
  position: relative;
}

input[name=update_song] {
  visibility: hidden;
}

input[name=update_song]:checked + .update-song-container {
  display: block;
}

.update-song-form {
  position: absolute;
  /* left: 100px;
  top: -50px; */
}